# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (isteğe bağlı)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages
.packages.generated
.pub-preload-cache/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio output
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# iOS/Xcode related
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/xcuserdata/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/DerivedData/
ios/Icon?
ios/Pods/
ios/.symlinks/
ios/profile
ios/.generated/
ios/Flutter/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral
macos/Pods/
macos/xcuserdata/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Web
web/generated/

# Exceptions
!ios/**/default.mode1v3
!ios/**/default.mode2v3
!ios/**/default.pbxuser
!ios/**/default.perspectivev3

# APK output dosyalarını dahil etme
*.apk